.dropdown-title {
    margin-top: 25px;
    margin-bottom: 2px;
    font-weight: bold;
}

.dropdown-menu {
    margin-right: 15px;
    font-family: Arial;
    padding-top: 2px;
}

select {
    width: 200px;
}