a {
    margin: 15px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}

a:hover {
    background-color: steelblue;
    color: white;
}

nav {
    background-color: lightskyblue;
    border: 2px solid black;
    padding:  20px;
}