input {
    width:  300px;
    font-style: italic;
    border: 3px solid royalblue;
    border-radius: 8px;
    margin-top: 30px;
    padding: 8px;
}

.title-searchbar {
    display: flex;
}

.search-title-btn {
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-category-btn {
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
}
